* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

div {
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    display: flex;
    flex-direction:column;
}